

// Color variables
$white: #ffffff;

$danger: #e9595b;
$success: #4ac18e;
$warning: #eca14f;
$primary: #67a8e4;
$info: #47b8c6;
$dark: #1d1e3a;
$muted: #707070;

$lightdark5: #555555;
$lightgray: #dddddd;
$light: #eeeeee;
$lightdark3: #333333;
$lightdark4: #444444;
$light5: #f5f5f5;
$light3: #f3f3f3;
$light9: #f9f9f9;
$light-alt: #fafafa;
$lightdark7: #797979;
$lightdark-alt: #cccccc;

$bg-body: #fafafa;
$left-bar: #f0f1f4;

$font-primary: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;




// Width variables
$width: 100%;


// Height variables
$height: 100%;


